@import "compass/reset";
@import "compass/css3";
@import "common/resetApp";

//font-icon defined
@font-face {font-family: 'iconfont';
  src: url('../fonts/iconfont.ttf') format('truetype');
}
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

//nav defined
.header-fun{
  position: relative;
  width: 100%;
  border-bottom: 1px solid #d8d7d7;
  background: #4bc0ed;
  overflow: hidden;
  color: #ffffff;
  padding: setRem(23) setRem(18);
  @include box-sizing(border-box);
}
.h-i-list,
.h-i-return{
  float: left;
}
.h-i-return{
  font-size: 1.2rem;
  font-weight: bold;
}
.h-i-time{
  float: right;
}
.h-i-model{
  position: absolute;
  left: 50%;
  @include setFontSize(36);
  @include translate3d(-50%, 2px, 0);
}

//content
.content-fun{
  position: relative;
  width: 100%;
  height: 92.2%;
  border-top: 1px solid #f1f1f1;
}
.list-header{
  padding-top: 4.48%;
  height: 2.57%;
  text-align: center;
}
.list-footer{
  position: absolute;
  bottom: -0.3rem;
  text-align: center;
  width: 100%;
  height: 9.78%;
}
.lists-content{
  height: 83.17%;
  overflow: hidden;
}
.s-l-previous{
  color: #ebebeb;
  font-size: 1.2rem;
}
.s-l-next{
  color: #dbdbdb;
  font-weight: bold;
  font-size: 1.2rem;
}
.s-l-notify{
  vertical-align: 5px;
  @include setFontSize(30);
  color: #505050;
}
.list-rotate-info{
  position: relative;
  height: setRem(241);
  margin-top: setRem(34);
  padding: 0 1rem;
}
.j-box{
  float: right;
  position: relative;
}
.current-total{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: setRem(50);
  height: 2.3rem;
  overflow: visible;
}
.c-total{
  position: relative;
  width: setRem(50);
  color: #4bc0ed;
  @include setFontSize(32);
  text-align: center;
  .c-total-left{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 0.25rem solid #4bc0ed;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .c-total-right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 0.25rem solid #4bc0ed;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}
.rotate{
  position: relative;
  width: 5.125rem;
  height: 5.125rem;
  @include border-radius(50%);
}
.rotate-left,
.rotate-right{
  position: absolute;
  left: -0.375rem;
  top: -0.375rem;
  width: 5.875rem;
  height: 5.875rem;
}
.rotate-half{
  position: absolute;
  /*left: -0.375rem;
  top: -0.375rem;*/
 /* width: 5.875rem;
  height: 5.875rem;*/
  width: 5.125rem;
  height: 5.125rem;
  @include border-radius(50%);
}
.rotate-bond-out{
  border: 0.375rem solid #dddddd;
  /*background: #dddddd;*/
}
.rotate-right,
.rotate-right-half{
  clip: rect(0,auto,auto, 2.9375rem);
}
.rotate-left,
.rotate-left-half{
  clip: rect(0,2.9375rem, auto, 0);
}

.rotate-bond-line{
  float: left;
  border: 0.375rem solid #4bc0ed;
  /*background: #4bc0ed;*/
}
.rotate-value-line{
  border: 0.375rem solid #fefefe;
}
.rotate-value-line-earn{
  @include rotateZ(-50deg);
}
.rotate-value-line-error{
  @include rotateZ(50deg);
}
.rotate-value-out{
  border: 0.375rem solid #45b94c;
}
.rotate-value-error{
  border: 0.375rem solid red;
}
.rotate-default{
  @include rotateZ(-10deg);
}
.shadow-number{
  color: #f3f3f3;
  @include setFontSize(28);
  text-align: center;
}
.c-bond-value,
.c-j-value{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  @include translate3d(0, -50%, 0);
  span{
    display: block;
    line-height: 1.1rem;
  }
}
.b-title,
.b-leave,
.j-title{
  @include setFontSize(28);
  color: #505050;
}
.b-number{
  @include setFontSize(36);
  color: #4bc0ed;
  span{
    display: inline;
    color: #505050;
  }
}
.j-number,
.j-status{
  color: #45b94c;
}
.j-number{
  @include setFontSize(36);
}
.j-number-error{
  color: red;
}
.j-up{
  font-size: 1.5rem;
}
.j-status-error{
  color: red;
  @include rotateZ(180deg);
}
.list-vote-info{
  @include setFontSize(30);
  margin-top: 1.05rem;
  text-align: center;
  b{
    @include setFontSize(36);
    font-weight: bolder;
  }
  .l-v-v{
    color: #4bc0ed;
  }
  .l-v-e{
    color: #45b94c;
  }
}
.list-base-info{
  margin: 0.6rem setRem(40);
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #dbdbdb;
  color: #505050;
  @include setFontSize(30);
  &:after{
    display: block;
    content: "";
    clear: both;
  }
  span{
    display: block;
    margin-top: 0.45rem;
    text-align: center;
    white-space: nowrap;
  }
}
.b-i-bond,
.b-i-trend{
  float: left;
  width: 5.875rem;
  b{
    color: #4bc0ed;
    @include setFontSize(48);
    letter-spacing: 5px;
  }
}
.b-i-interest,
.b-i-debt{
  float: right;
  width: 5.875rem;
  b{
    @include setFontSize(48);
    font-weight: bolder;
  }
}
.b-i-title,
.i-i-title,
.i-t-status,
.b-i-debt{
  text-align: center;
}
.i-d-value{
  color: #45b94c;
}
.d-l-previous,
.d-l-next{
  color: #b1b4b5;
}
.date-box{
  position: relative;
  margin-top: setRem(15);
  text-align: center;
}
.d-month{
  display: inline-block;
  position: relative;
  width: setRem(180);
  height: setRem(165);
  margin-right: setRem(8);
  margin-top: setRem(4);
  color: #4bc0ed;
  border: 3px solid #d4d9db;
  span{
    display: block;
    text-align: center;
    font-weight: bolder;
  }
}
.month-box{
  position: absolute;
  top: 50%;
  width: 100%;
  @include translate3d(0, -50%, 0);
}
.d-c{
  @include setFontSize(80);
}
.d-e{
  @include setFontSize(30);
}
.data-year{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: setRem(160);
  height: setRem(50);
  line-height: setRem(50);
  text-align: center;
  background: #4bc0ed;
  color: #fff;
  @include setFontSize(30);
  z-index: 1;
  &:before{
    position: absolute;
    left: -1.2rem;
    top: -0.03rem;
    display: block;
    content: "";
    border: setRem(25) solid #4bc0ed;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-top-width: 0.7rem;
  }
  &:after{
    position: absolute;
    right: -1.2rem;
    top: -0.03rem;
    display: block;
    content: "";
    border: setRem(25) solid #4bc0ed;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-top-width: 0.7rem;
  }
}